@model Wanderlust.Models.WISHLIST

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>WISHLIST</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DESTINATION.destName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DESTINATION.destName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.USER.email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.USER.email)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.item_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>